<!DOCTYPE html>
{% load static %}
<html lang="en" class="dark">
<head>
    <title>Main</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body class="bg-gray-800 text-white flex-col flex h-screen justify-center">


    <div class="flex flex-col mx-auto items-center max-w-xl min-w-xl h-80 p-6 border rounded-lg shadow-sm bg-gray-900 border-gray-700 justify-center">
        <a href="#">
            <h2 class="mb-5 text-5xl font-bold tracking-tight text-white">Planner</h2>
        </a>
        <p class="mb-5 text-center font-normal text-gray-400">You need to registrate or log in to start working</p>
        <div class="flex">
                <a href="{% url 'login' %}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Sign in</a>
                <a href="{% url 'registration' %}" class="py-2 px-4 ms-2 text-sm font-medium focus:outline-none rounded-lg border border-gray-200 focus:z-10 focus:ring-4 focus:ring-gray-100 focus:ring-gray-700 bg-gray-800 text-gray-400 border-gray-600 hover:text-white hover:bg-gray-700">Sign up</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>

